<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
       color="tertiary"
       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Elementos Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido">
    <div class="botones">
      <ion-text color="dark">
        <h5>BOTONES</h5>
      </ion-text>
      <ion-button color="tertiary">
        Botón por defecto de color primario
      </ion-button>
      <ion-button fill="outline" color="tertiary">
        Botón outline de color primario
      </ion-button>
    </div>
      <div class="tarjetas">
      <h5>TARJETAS</h5>
      <ion-card>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F45%2F46%2F2f%2F45462f359635dad3ed4915bd98c85adf.jpg&f=1&nofb=1"/>
        <ion-card-header>
          <ion-card-subtitle>PRIMERA RUTINA</ion-card-subtitle>
          <ion-card-title>El camino a una alimentación saludable</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Recuerda que la cantidad de frutas y verduras recomendada son 5 porciones de fruta y 400 gr de verdura.
          <ion-button color="tertiary">
            Agrega una nueva porción de fruta o verdura
          </ion-button>
        </ion-card-content>
      </ion-card>
      <hr>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Subtítulo</ion-card-subtitle>
          <ion-card-title>Título</ion-card-title>
        </ion-card-header>
      </ion-card>  
    </div>    
  
    <div class="lista">
      <h5>SEGUIMIENTO DIARIO</h5>
      <ion-list>
        <ion-item>
          <ion-checkbox color="dark" slot="start"></ion-checkbox>
          <ion-label>Cinco porciones de fruta</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox color="dark" slot="start"></ion-checkbox>
          <ion-label>400gr. de verduras</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox color="dark" slot="start"></ion-checkbox>
          <ion-label>Horas de sueño recomendadas cumplidas</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox color="dark" slot="start"></ion-checkbox>
          <ion-label>Porción de agua diaria cumplida</ion-label>
        </ion-item>
      </ion-list>
      <h5>INPUTS</h5>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input placeholder="Ingrese su nombre" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Correo electrónico</ion-label>
        <ion-input placeholder="Ingrese su correo electrónico" type="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input placeholder="Ingrese su contraseña" type="password"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Pasos diarios</ion-label>
        <ion-input placeholder="Ingrese la cantidad de pasos diarios" type="number"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
