<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="tertiary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>

    <ion-title>urHealth</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-list>
      <ion-item *ngFor="let c of componentes"
                [routerLink]="c.redirecTo"
                detail=true>
        <ion-icon [name]="c.icon" slot="start" color="tertiary"></ion-icon>
        {{c.name}}
      </ion-item>
    </ion-list>
    
    <ion-card  color="tertiary">
      <ion-card-header>
        <ion-card-title class="titulocard">urHealth</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="info">
        Tenemos como objetivo ayudarte con tu salud, permitiendote llevar un seguimiento de tus rutinas,
        tu dieta,entre otras cosas.
      </ion-card-content>
    </ion-card> -->
    <ion-img class="img" src="../../../assets/imgs/healthy.png"></ion-img>
    
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>¡Bienvenido/a!</ion-card-title>
        <ion-card-subtitle>Comienza a llevar un seguimiento de tu dieta, horas de sueño y más.</ion-card-subtitle>
        <br>
        <ion-button color="dark" fill="outline" expand="block">
          Registro
        </ion-button>
        <ion-button color="dark" expand="block">
          Inicia sesión
        </ion-button>
      </ion-card-header>
    </ion-card>
    
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        
        <ion-tab-button *ngFor="let c of componentes"
                        [routerLink]="c.redirecTo"
                        detail=true>
          <ion-icon [name] = "c.icon"></ion-icon>
          <ion-label>{{ c.name }}</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
</ion-content>
