<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="tertiary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>

    <ion-title>urHealth</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
      <ion-item *ngFor="let c of componentes"
                [routerLink]="c.redirecTo"
                detail=true>
        <ion-icon [name]="c.icon" slot="start" color="tertiary"></ion-icon>
        {{c.name}}
      </ion-item>
    </ion-list>
    

    <ion-card  color="tertiary">
      <ion-card-header>
        <ion-card-title class="titulocard">urHealth</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="info">
        Tenemos como objetivo ayudarte con tu salud, permitiendote llevar un seguimiento de tus rutinas,
        tu dieta,entre otras cosas.
      </ion-card-content>
    </ion-card>
      
</ion-content>
