<ion-header>
  <ion-toolbar>

    <ion-title>urHealth</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="img" src="../../../assets/imgs/healthy.png"></ion-img>
    
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>¡Bienvenido/a!</ion-card-title>
        <ion-card-subtitle>Tenemos como objetivo ayudarte con tu salud, permitiendote llevar un seguimiento de tus rutinas,
          tu dieta,entre otras cosas.</ion-card-subtitle>
        <br>
        <ion-button color="dark" fill="outline" expand="block" href="registro">
          ¡Regístrate!
        </ion-button>
        <ion-button color="dark" expand="block" href="login">
          ¿Ya tienes una cuenta? Inicia sesión
        </ion-button>
      </ion-card-header>
    </ion-card>
    
</ion-content>
