<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Inicia sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>Email: </ion-label>
          <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="usuario.email" 
                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                      required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña: </ion-label>
          <ion-input type="password" placeholder="Contraseña" name="password"
                      [(ngModel)]="usuario.password" required></ion-input>
        </ion-item>
        <ion-button (click)="signIn()" [disabled]="formulario.invalid" type="submit" expand="block" routerLink="/inicio" color="tertiary"> 
          Iniciar sesión 
        </ion-button>
    </form>
    </ion-card-content>
  </ion-card>

  


</ion-content>
